<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Person: <%= ID %></h1>
    <h2><%= ID %> name is <%= ID.length %> characters long</h2>
  </body>
</html>
